/*
 * Colors
 *
 * Use the following website to help you name the colors:
 * http://chir.ag/projects/name-that-color
 */

$color = {
	black: #000,
	white: #fff,
	sea-green: #338656
}

/*
 * Transition
 */

// @stylint off
$transition = {
	time: {
		default: .5s,
	},

	easing: {
		default: 'ease',
		inOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55)
	}
}

$transition.time.fast = $transition.time.default / 2
$transition.time.slow = $transition.time.default * 2
// @stylint on

/*
 * Grid
 *
 * See how to use Mantis Grid System:
 * https://github.com/acauamontiel/mantis-grid
 */

grid-init()
