//- Info
meta(name='robots', content='all')
meta(name='description', content= description)
//- Open Graph - http://ogp.me
meta(property='og:site_name', content='')
meta(property='og:title', content= title)
meta(property='og:type', content='website')
meta(property='og:url', content='')
meta(property='og:image', content='img/share-image.png')
meta(property='og:description', content= description)
meta(property='og:locale', content='')
